html {
  border: 3px solid;
  border-color: red;
  font-family: Helvetica;
}

#title {
  text-align: center;
  font-weight: bold;
  color: khaki;
  font-size: 100px;
  background-image:
  url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg")
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-size: 100px;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
strong {
  font-weight: bold;
  color: blue;
}
